.footer__container {
    .footer__info {
        @include flexDirection(row, center, center);
        flex-wrap: wrap;
        background-color: $primary-color;
        padding: 10px 0;

        .footer__social {
            @include flexDirection(row, center, center);
            flex-wrap: wrap;
            color: $white-color;
            margin: auto;
            text-align: center;

            .social__iconContainer {
                @include flexDirection(row, space-around, center);
                padding: 10px 0;

                .social__icon {
                    a {
                        transition: 0.5s;
                        &:hover {
                            color: lighten($color: $primary-color, $amount: 20);
                        }
                    }
                }
            }
        }

        .footer__data {
            text-align: center;
            color: darken($color: $primary-color, $amount: 15);
            margin: auto;
        }
    }

    .footer__copyright {
        background-color: darken($color: $primary-color, $amount: 10);
        text-align: center;
        padding: 10px 0;
        font-size: 18px;
    }
}
