body,
ul,
h1,
h2,
h3,
p {
    margin: 0;
    box-sizing: content-box;
}

body {
    overflow-x: hidden;
}

ul {
    padding-inline-start: 0;
}

a {
    text-decoration: none;
    color: darken($color: $primary-color, $amount: 10);
    font-size: $font-size-md;
    &:hover {
        color: $primary-color;
    }
}

input {
    border-radius: 5px;
    background-color: lighten($color: $primary-color, $amount: 48);
    padding: 5px;
    font-size: 18px;
}

input[type="file"]::file-selector-button {
    background-color: #fffbf2;
    padding: 7px;
    margin-right: 15px;
    border-radius: 5px;
    border: 1px solid #fcd575;
    color: #c78f02;
}

textarea {
    background-color: lighten($color: $primary-color, $amount: 48);
    resize: none;
}
