$colors: (
    primary: $primary-color,
    secondary: $secondary-color,
    light: $white-color,
    error: $error-color,
    success: $success-color,
);

@each $name, $value in $colors {
    .bg-#{$name} {
        background-color: $value;
    }

    .color-#{$name} {
        color: $value;
    }

    .border-#{$name} {
        border: 1px solid $value;
    }
}

@for $i from 1 through 10 {
    .h-#{$i * 10} {
        height: $i * 10%;
    }
    .w-#{$i * 10} {
        width: $i * 10%;
    }
}

@for $i from 1 through 500 {
    .hx-#{$i * 10} {
        height: $i * 10px;
    }

    .wx-#{$i * 10} {
        width: $i * 10px;
    }
}

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);

@each $breakpoint, $value in $breakpoints {
    .d-#{$breakpoint}-block {
        @media (min-width: $value) {
            display: block !important;
        }
    }

    .d-#{$breakpoint}-flex {
        @media (min-width: $value) {
            display: flex !important;
        }
    }

    .d-#{$breakpoint}-inline {
        @media (min-width: $value) {
            display: inline !important;
        }
    }

    .d-#{$breakpoint}-inline-block {
        @media (min-width: $value) {
            display: inline-block !important;
        }
    }

    .d-#{$breakpoint}-none {
        @media (min-width: $value) {
            display: none !important;
        }
    }
}

@each $breakpoint, $value in $breakpoints {
    @for $percentage from 10 through 100 {
        .w-#{$breakpoint}-#{$percentage} {
            @media (min-width: $value) {
                width: $percentage * 1%;
            }
        }
    }
}
