$colors: (
    primary: $primary-color,
    secondary: $secondary-color,
    white: $white-color,
    error: $error-color,
    success: $success-color,
);

@each $name, $value in $colors {
    .bg-#{$name} {
        background-color: $value;
    }

    .color-#{$name} {
        color: $value;
    }

    .border-#{$name} {
        border: 1px solid $value;
    }
}

@for $i from 1 through 10 {
    .h-#{$i * 10} {
        height: $i * 10%;
    }
    .w-#{$i * 10} {
        width: $i * 10%;
    }
}
