@mixin flexDirection($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin hero($background-image) {
    background-image: url($background-image);
    background-repeat: no-repeat;
    background-size: cover;
}
