$primary-color: #fab302;
$secondary-color: #e94587;
$white-color: #ffffff;
$error-color: #a92222;
$success-color: green;

/*Font sizes*/
$font-size-md: 1.5rem;
$font-size-lg: 2rem;
$font-size-xl: 3rem;
$font-size-xxl: 4rem;
